/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
}


/* grdiante background code https://cssgradient.io */ 
body {
  
font-family: "Poppins", sans-serif;
background: linear-gradient(to right, 
  #1e579984 0%, 
  #2ce0bf87 8%,   /* Adjusted color stop */
  #76dd2c81 25%,   /* Adjusted color stop */
  #dba62b8d 40%,   /* Adjusted color stop */
  #e02cbf8f 60%,   /* Adjusted color stop */
  #1e5799 75%,     /* Adjusted color stop */
  #1e579984 100%   /* Repetition of the first color for smooth transition */
);
background-size: 1000% 100%;
animation: bg 20s linear infinite;
}

@keyframes bg {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 10000px;
  }
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: rgb(173, 173, 173);
}

a:hover {
  color: #7F3D3D;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(62, 42, 42);
}

.logo {
  font-size: 5rem;
}

#desktop-nav .logo img {
  width: 150px; height: 75px;
}


.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.2 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(157, 156, 156);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.2 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section:not(#apply) {
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

section#apply {
  margin: 4rem 8rem;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 600px;
  width: 700px;
  margin: auto;
  padding-bottom: 2rem;
  padding-right: 10rem;
  padding-left: 0rem;
  position: relative; /* Added position relative for absolute positioning */
}

/* Add styles for the levitating effect */
.section__pic-container img {
  filter: drop-shadow(0 0 0.75rem rgba(100, 94, 97, 0.58));
  width: 100%; /* Make sure the image takes the full width of the container */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  bottom: 4;
  margin-left:0;
  margin-right: 25px;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 50;
}
.section__text__p1 {
  text-align: center;
  font-size: 2rem;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  margin-bottom: 0rem;
  margin-top: 0rem;
  color: #a33535eb; /* Change this to the desired text color */
}

.section__text__p1::after {
  content: ''; /* Adding a pseudo-element for the border */
  display: block;
  width: 100%;
  height: 1px; /* Set the desired border height */
  background-color: #407040c9; /* Change this to the desired border color */
  margin-top: 10px; /* Adjust the margin as needed */
}
.section__text__p2 {
  text-align: center;
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  color: #a33535eb;
}
.section__text__p2::before {
  content: ''; /* Adding a pseudo-element for the border */
  display: block;
  width: 100%;
  height: 1px; /* Set the desired border height */
  background-color: #407040c9; /* Change this to the desired border color */
  margin-top: 10px; /* Adjust the margin as needed */
}

.concept-two {
  display: flex;
  font-size: 3.5rem;
  justify-content: center;
  padding: 0em 0em;
  margin-bottom: 0rem;
}

.hover {
  position: relative;
  margin: 5% 0 /* Adjust the margin as needed */
  scale(1.2);

}

h1 {
  color: transparent;
  text-align: 0 1px 1px;
  -webkit-text-stroke: 2px #fff;
  text-shadow: none;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.hover:hover h1 {
  transform: scale(1.8);
  color: #fff;
  -webkit-text-stroke: 2px transparent;
  text-shadow: 0 10px 20px rgba(82, 55, 55, 0.2);
}


.title {
  font-size: 4rem;
  text-align: center;
  position: relative;
  color: #fff; 
  text-shadow: 0 10px 25px rgba(112, 88, 88, 0.3); /* Match the text shadow */
}

.title:hover {
  transform: scale(1.5);
  text-shadow: 0 10px 20px rgba(144, 136, 136, 0.2);
}



/* Add styles for the socials-container and icons */
#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

.icon1 {
  cursor: pointer;
  height: 2.1rem;
}

/* BUTTONS */

.btn-container {
  display: block;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(212, 207, 207) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(40, 32, 32);
  color: white;
}

.btn-color-1:hover {
  background: rgb(127, 61, 61);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 10%;
}





/* ABOUT SECTION */
#about {
  position: relative;
}

.section-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}

.section-body {
  width: 45%;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.left-content {
  color: #ffffff;
  margin-bottom: 2rem;
}
.section-image {
  width: 45%;
  overflow: hidden;
}

.section-image img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.section-image:hover img {
  transform: scale(1.1); /* Adjust the scale factor as needed */
  border-radius: 20px; /* Adjust the border-radius for rounded corners on hover */
}

.slant.bottom.left {
  bottom: -10px;
}


.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.section_about_pic-container {
  display: flex;
  height: 200px;
  width: 200px;
  margin: auto;
  padding-bottom: 2rem;
  padding-right: 10rem;
  padding-left: 0rem;
  position: relative; /* Added position relative for absolute positioning */
}*/



.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 1.5rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 600px;
  width: 600px;
  align-items: normal;
  margin: auto 0;
}






/* apply */
.bounce-top {
  animation: bounce-top 0.15s both;
}

#apply {
  animation: color-change-2x 3s infinite alternate;
}



/* Schedule SECTION */

#schedule {
  display : inline-block;
  justify-content: center;
  flex-direction: column;
  height: 200vh;
  padding : 5px;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
  padding : 1px;
}

.experience-container{
  margin : auto;
}
.project-img {
  border-radius: 1rem;
  width: 90%;
  height: 90%;
  padding : 5px;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}




/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 45vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 1rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

.section__pic1-container {
  display: flex;
  height: 200px;
  width: 200px;
  margin: auto;
  padding-bottom: 2rem;
  padding-right: 10rem;
  padding-left: 0rem;
  position: relative; /* Added position relative for absolute positioning */
}

/* Add styles for the levitating effect */
.section__pic1-container img {
  filter: drop-shadow(0 0 0.75rem rgba(19, 17, 18, 0.736));
  width: 100%; /* Make sure the image takes the full width of the container */
  height: auto; /* Maintain aspect ratio */
  position: absolute;
  bottom: 2;
  margin-left:0;
  margin-right: 25px;
  animation: float 5s ease-in-out infinite;
}

/* Move section__pic1-container below the contact information */
.section__pic1-container {
  order: 1; /* Set the order to 1 to move it below the contact information */
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}



/* FOOTER SECTION */

footer {
  height: 18vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}



/* Meet the Team */

#project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -3%;
}

.each-project {
  position: relative;
  height: 250px;
  width: 250px;
  margin: 3%;
  border-radius: 50%;
  overflow: hidden;
}

.show {
  display: flex;
}

.proj-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.proj-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #F8F8F8;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: opacity .4s, visibility .4s;
}

.each-project:hover .proj-description {
  visibility: visible;
  opacity: 0.8;
}

.proj-description:hover {
  opacity: 1;
}

.img-description {
  transition: .5s;
  color: #575757;
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.img-description i, .img-description p, .img-description a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 100;
  line-height: 24px;
}

.img-description i {
  font-size: 12px;
}

.img-description:hover {
  opacity: 1;
}

#project-container::after {
  content: "";
  display: table;
  clear: both;
}

#team-section {
  margin-top: 50px; /* Adjust this value as needed */
}


/* Frequently Asked Questions */
/* Base settings to ensure consistency */

.faq-container {
  max-width: 800px;
  margin: 0 auto;
}

.faq-item {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.faq-question {
  width: 100%;
  padding: 1rem;
  background-color: #f7f7f7;
  border: none;
  text-align: left;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: 'Poppins'; /* Apply flashy font */
  font-weight: bold; /* Make the text bold */
  background-color: #ffebcc; /* Highlight the text with a light orangish color */
  
}

.faq-answer {
  display: none;
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

/* sections */

.section-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  max-height: 900px;
}



.section-header {
  font-size: 36px;
  margin-bottom: 80px;
  z-index: 1;
  position: relative;
  text-align: center;
}

.section-header span {
  background-color: white;
  color: #3E3E3E;
  padding: 10px 15px;
}

.section-body {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.section-body p {
  font-family: "Proxima Nova","Open Sans",sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
  text-align: left;
  color: #3E3E3E;
}

.slant {
  width: 120%;
  height: 90px;
  position: absolute;
  left: -20px;
  background: inherit;
  z-index: 1;
}

.slant.bottom {
  bottom: -40px;
}

.slant.top {
  top: -40px;
}

.slant.left {
  transform: rotate(-2deg);
}

.slant.right {
  transform: rotate(2deg);
}

.photo-seperator {
  width: 100%;
  position: relative;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.container.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribute space evenly */
  align-items: center; /* Vertically center the circles */
  gap: 20px; /* Add horizontal space between the circles */
}

.each-project {
  flex-grow: 1; /* Allow items to grow and fill the space */
  flex-basis: calc(33.33% - 40px); /* Adjust the width to fit three items per row, accounting for the gap */
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  margin: 20px 10px; /* Add vertical and horizontal margin to create space between items */
}